[defaults]
inventory = inventory/targets.yml
host_key_checking = False
gathering = explicit
stdout_callback = default
callbacks_enabled = timer
retry_files_enabled = False
collections_path = ./collections
roles_path = ./roles
filter_plugins = ./filter_plugins
forks = 10
timeout = 300

[ssh_connection]
retries = 2

[ persistent_connection ]
connect_timeout = 60
command_timeout = 600